* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    height: 100%;
}

.header__top{
    font-size: 15px;
    background: #1CD1B0;
    padding: 10px ;


}

.header__title {
    display:flex;
    align-items: center;
    background: #00669F;
    padding: 8px;
    color:white;
    font-weight:100;
    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__bottom{
    background: #001D2D;
    display: flex;
    justify-content:flex-end;
    padding: 0 10px;
}

.header__bottom--item{
    margin: 0 10px;
    text-decoration:none;
    padding: 5px;
    color:white;
}



.main{
    width:100%;
    display:flex;
    justify-content:center;
    padding:60px 200px 110px;
}

.login{
    width: 45%;
    height:100%
}

.login__title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3.0rem;
    margin: 20px 0px 25px;
}

.login__form{
    display:flex;
    flex-direction:column;
    margin: 10px 0;
}

.login__form--input{
    margin-bottom: 10px;
    border: 1.53407px solid #000000;
    box-sizing: border-box;
    border-radius:2px;
    padding:10px;
}

.login__form--input::placeholder{
    color:black;
}
.login__form--input:hover{

}

.login__buttons{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
}

.login__buttons--button{
    background: #1CD1B0;
    border-radius: 23.011px;
    border: 0;
    padding:10px;
    color:black;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size:1.0rem;
    margin-bottom: 20px;
}

.login__buttons--button:hover{
    background: #0b5043;
    color:white;
}

.login__buttons--link{
    margin-bottom: 10px;
}
.login__buttons--black{
    color: #000000;
    text-decoration: none;
}

footer{
    position: absolute;
    width: 100%;
    bottom: 0px;
    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 16px;
    color:white;
    font-size: 16px;
}

/* @media (min-width: 650px) {
    .main__carrusel {
        display: grid ;
        grid-template-columns: 1fr 1fr ;
    }
}

@media (min-width: 950px) {
    .main__carrusel {
        grid-template-columns: 1fr 1fr 1fr;
    }
} */
