*{
    margin:0 ;
    padding:0 ;
    box-sizing:border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    
}

/* --------------------
    * Header styles *
   ------------------ */

header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: black;
    padding: 10px 20px;
}

.header__nav{
    display:flex;
    justify-content: space-around;
}

.header__nav--item, .footer__nav--item{
    padding:10px;
    margin:5px;
    text-decoration: none;
    color:white;
    font-size: 16px;
    font-family: Roboto;
}
.header__nav--item:hover, .footer__nav--item:hover{
    background-color:gray;
    border-radius: 10px;
}

/* -------------------
    * Main Styles *
 -------------------*/

main{
    padding: 15px;
    background: #E5E5E5;
}

.main-content{
    width: 98%;
    margin: 5px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.container1{
    width: 100%;
    background-image: url("img/delivery.jpg") ;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5px 20px;
    border-radius: 10px;
}

.container1__title{
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: left;
    margin: 10px 0;
}
.container__title--rojo{
    color: red
    
}

.container2{
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    background-color:white;
}

.container2__title{
    font-size: 1.8rem;
    text-align: center;
    color:red;
    padding:30px 0px;
}

.container2__description{
    height: 80%;
    padding:10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pizza-ranking__title {
    padding:0  50px 10px;
    font-size: 1.8rem;
}

.pizza-ranking-list {
    padding-left: 40px;
    font-size: 1.4rem;
}

.pizza-ranking-list li {
    font-weight: bold;
    margin: 5px 0px;
}

.container__description--pizza{
    margin-right: 40px;
}

footer{
    display: flex;
    background-color:black;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.footer__nav{
    display:flex;
    flex-direction: column;
    margin:2px;

}

/* .footer__nav--item{
    padding:10px;
    text-decoration: none;
    color:white;
    font-size: 16px;
} */
